/* common css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background: #fff; */
    color: #333;
    font-family: 18px;
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.shadow {
  box-shadow: 0 10px 20px #eeeeee; 
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 576px) {
  .container {max-width: 540px;}
}
@media screen and (min-width: 768px) {
  .container {max-width: 720px;}
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
@media screen and (min-width: 992px) {
  .container {max-width: 960px;}
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .container {max-width: 1140px;}
}
@media screen and (min-width: 1400px) {
  .container {max-width: 1320px;}
}

/* variables */

:root {
  --blue: #637FFF;
  --text-blue: #696a8c;
  --sky-blue: #F4F9FC;
  --green: #15CFB5;
  --yellow: #FFCC00;
  --shadow: 0 10px 20px #eeeeee; 
}

/* header start */
header {
    box-shadow: 0 .5rem 1rem #EEE;
    margin-bottom: 10px;
}
  
  .logo {
    max-width: 200px;
  }
  .logo span {
    font-size: 21px;    
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  
  .navbar {
    align-items: center;
    background: #fff;    
    display: flex;
    flex-direction: row;    
    padding: 10px 0px;
  }
  
  .push-left {
    margin-left: auto;
  }
  
  /* Menu */
  .hamburger {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
    height: 30px;
    position: relative;
    width: 30px;
    z-index: 1000;
  }
  .hamburger-line {
    background: #272727;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .hamburger:hover .hamburger-line {
    background: #777;
  }
  .hamburger-line-top {
    top: 3px;
  }
  .menu-active .hamburger-line-top {
    top: 50%;
    transform: rotate(45deg) translatey(-50%);
  }
  .hamburger-line-middle {
    top: 50%;
    transform: translatey(-50%);
  }
  .menu-active .hamburger-line-middle {
    left: 50%;
    opacity: 0;
    width: 0;
  }
  .hamburger-line-bottom {
    bottom: 3px;
  }
  .menu-active .hamburger-line-bottom {
    bottom: 50%;
    transform: rotate(-45deg) translatey(50%);
  }
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-in;
  }
  .menu-item:last-child {
    margin-left: 15px;
  }
  .nav-menu .menu-item a {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    line-height: 30px;
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s ease-in-out;
  }
  .nav-menu .menu-item a:hover {
    color: var(--blue);
    font-weight: bold;
  }
  .menu-item a i {
    cursor: pointer;
    color: var(--blue);
    transform: scale(1.4);
    transition: .5s ease-in-out;
  }
  .menu-item a i:hover {
    color: #000;
    transform: scale(1.5);
  }  
  .sub-nav {
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px 5px;
    list-style: none;
    width: 230px;
  }  
  .nav_link:hover + .sub-nav {
    display: block;
  }
  
  .sub-nav:hover {
    display: block;
  }
/* header end /////////////////////////////////////////////////////////////////////////////////////// */

/* breadcrumb start */
.breadcrumb {
  margin-bottom: 0.25rem;
}
.breadcrumb span {
  font-size: 14px;
  color: var(--text-blue);
}
.breadcrumb span:first-child {  
  color: #000;
}
/* breadcrumb end ///////////////////////////////////////////////////////////////////////////////////// */


/* Footer start */
footer {
  background: #2A2A2A;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer_title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer_title.logoText {
  letter-spacing: 1.5px;
  font-size: 21px;
}
.footer-links {
  font-size: 15px;
  line-height: 2;
  color: #BDBDBD;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
  list-style-type: none;
  list-style-position: inside;
  text-decoration: none;  
}
.gallery-list {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}
.gallery-list .img-list {
  flex: 0 23%;
  margin-bottom: 1%;
}
.img-list img {
  width: 100%;
  height: 80px;
  max-height: 80px;
  border: 1px solid transparent;
  transition: .3s;
  object-fit: cover;
  object-position: center;  
}
.social-icons {
  color: #BDBDBD;
  display: flex;
  margin-bottom: 1rem;
}
.social-icons li a i{
  color: #BDBDBD;
  margin-right: 15px;
  cursor: pointer;
}
.social-icons li a i:hover{
  color: #3b5998 ;  
}
.social-icons li a i.fa-facebook:hover{
  color: #3b5998 ;  
}
.social-icons li a i.fa-twitter:hover{
  color: #1DA1F2 ;  
}
.social-icons li a i.fa-instagram:hover{
  color: #E1306C ;  
}
/* footer end */

  /* Product detail start */
  .detail-card{
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    padding: 15px;
    width: 100%;
    display: flex;
}
.detail-card .product-left-block{
    width: 25%;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.product-left-block .main-product-img{
    width: 60%;
}
.product-left-block input[type="checkbox" i] {
  height: 20px;
  width: 20px;
}
.compare-box {
  display: grid;
  place-content: center;
  margin-top: 0.75rem;
}
.product-right-block{
    width: 75%;
    margin-top: 1rem;
}
.checkbox-label{
  color: var(--text-blue);
  font-size: 10px;
  /* border: 1px solid #DDDDDD; */
  border: 1px solid rgb(133, 133, 133);
  border-left: none;
  padding: 1px .25rem;
  font-weight: 600;
}
.detail-block{
    width: 100%;
    display: flex;
}
.detail-block .product-info{
    width: 70%;
}
.detail-block .product-rating{
    width: 30%;
    display: flex;
}
.product-info h2{
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 1.7px;
    color: #000;
}
.product-info .rating-info{
    margin-top: 10px;
}
.rating-info .grey-text{
    font-size: 22px;
    color: var(--text-blue);
}
.rating-info .star-icon{
    font-size: 22px;
    color: var(--yellow);
    margin-left: 5px;
}
.rating-info .version{
    font-size: .75rem;
    font-weight: 500;
    background: var(--sky-blue);
    padding: 2px 10px;
    position: relative;
    bottom: .5rem;
    left: 20px;
    color: var(--text-blue);
}
.color-options{
    margin-top: 13px;
    display: flex;
}
.color-options p:hover{
  cursor: pointer;
}
.color-options p{
    width: 20px;
    height: 20px;    
    margin-right: 15px;
}
.color-grey{
    background-color: #4F4C66;
}
.color-cream{
    background-color: #B4A99C;
}
.color-black{
    background-color: #0F0F12;
}
.price-list{
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
}
.price-list span{
    font-size: 1.5rem;
    color: #607CFF;
    margin-right: 1rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.buy-now-btn{
    padding: .75rem 3rem;
    border-radius: 30px;
    font-weight: 600;
    color: #fff;
    background: #627EFD;
    border: 1px solid #fff;
    font-size: 14px;
    transition: .5s ease-in-out;
}
.buy-now-btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #627EFD;
    border: 1px solid #627EFD;
}
.product-rating p{
    margin-left: auto;
}
.product-rating .rating-info{
  margin-left: 15px;
}
.rating-info .rating-text{
  color: var(--text-blue);
  font-weight: 600;
  letter-spacing: 1.2px;
  font-size: .75rem;
}
.rating-info .rating-span1{
  background: var(--green);
  color: #fff;
  padding: 3px 6px;
  font-size: .75rem;
}
.rating-info .rating-span2{
  background: #637FFF;
  color: #fff;
  padding: 3px 6px;
  font-size: .75rem;
}
.rating-info .fa-info-circle{
  color: #b2b2b2;
  margin-left: 2rem;
}
.product-rating p img{
  width: 40px;
  margin-bottom: -35px;
}
.product-bottom-section{
    display: flex;
    margin-top: 20px;
    width: 85%;
    padding-bottom: 20px;
    border-bottom: 1px solid #EDEFF5;
}
.product-bottom-section .access-section{
    width: 22%;
}
.access-section .access-icon .fa{
    color: var(--green);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.access-section .access-title {
  margin-bottom: 0.5rem;
}
.access-section .access-title span{
    color: var(--text-blue);
    font-size: 20px;
    font-weight: 500;    
}
.access-section .access-subtitle span{
    color: var(--text-blue);
    font-size: 14px;
}
.product-brand-section{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}
.product-brand-section .brand-card{
    width: 25%;
}
.brand-card .brand-title{
    font-size: 14px;
    font-weight: 600;
}
.brand-card .brand-img{
  width: 35%;
}
.ex-margin{
  margin-bottom: 14px;
}
.brand-card .brand-subtitle{
    font-size: 13px;
    color: var(--text-blue);
}
.tab-section .tab-container{
  background-color: var(--sky-blue);
}
.container .tab-list{
  display: flex;
  width: 100%;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,0.1);
}
.tab-list .tab-item{
  text-align: center;
  padding-top: .5rem;
  width: 12%;  
  padding-bottom: .5rem;
  display: grid;
  place-content: center;
}
.tab-link, .tab-link .fa {
  color: var(--green);
  font-size: 14px;
  transition: .3s ease-in-out;
}
.tab-link .fa-mobile{
  font-size: 18px !important;
}
.tab-item-active{
  background: #607cff;
  color: #fff !important;
}
.tab-item-active .tab-link .fa, .tab-item-active .tab-link span{
  color: #fff;
}
.tab-section{
  margin-bottom: 30px;
}
.tab-item {
  transition: .2s ease-in-out;
}
.tab-item:hover{
  cursor: pointer;
  background: #607cff;  
}
.tab-item:hover .tab-link .fa, .tab-item:hover .tab-link span{
  color: #fff;
}

/* Product detail end /////////////////////////////////////////////////// */

/* compare start */
.compare-block {
  box-shadow: var(--shadow);
  margin-bottom: 100px;
}
.block-header {
  background: var(--sky-blue);
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-header .sort-block {
  display: flex;
  align-items: center;
}
.sort-block label {
  margin-right: 1rem;
  font-size: 14px;
  color: #333;
}
.sort-block select {
  border-color: #DDDDDD;
  color: var(--text-blue);
  padding: 2px 10px;
}
.header-title {
  font-size: 1rem;
  color: #333;
  letter-spacing: 1.3px;
}
.header-title .title-icon {
  color: var(--green);
  margin-right: .5rem;
}
.graph-block {
  padding: 50px 30px;
}
.graph-block .compare-graph:nth-child(4) {
  margin-bottom: 0;
}
.compare-graph {
  width: 70%;
  margin-bottom: 4rem;
}
.progress-block {
  display: flex;
  margin-bottom: 1.5rem;
}
.progress-block .text {
  flex: 0 0 18%;
  text-align: right;
  margin-right: 2rem;
  color: #808080;
  font-size: 14px;
}
.progress-block .progress-div {
  background: #EEEEEE;
  flex: 0 0 82%;
  width: 100%;
  height: 1.5rem;
  max-height: 1,5rem;
}
.progress-block .actual-progress {
  background: linear-gradient(90deg, #42D4BC, #9EEB68);
  width: 90%;
  height: 100%;
  transition: .3s ease-in;
}
.progress-block .actual-progress.all {
  background: linear-gradient(90deg, #F00376, #FE5A01);
  width: 30%;
}
.progress-block .actual-progress.current {
  background: linear-gradient(90deg, #00C0FF, #2ACED1);
  width: 60%;
}
.progress-count-block {
  width: 80%;
  margin-left: auto;
  margin-bottom: 50px;
}
.progress-count-block .hr-line {
  background: #EEEEEE;
  width: 100%;
  height: 2px;
  margin-left: 2rem;
}
.vr-lines {
  display: flex;
  justify-content: space-around;
}
.vr-lines .vr-line {
  height: 20px;
  width: 2px;
  background: #EEEEEE;
  margin-top: -9px;
}
.progress-number {
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
  font-size: .75rem;
}
.progress-number .number {
  color: #666666;
}
.progress-category {
  width: 80%;
  text-align: center;
  margin-left: auto;
  font-weight: bold;
  color: #333333;
  font-size: 14px;
}
.progress-category span {
  margin-left: 2rem;
}

.review-block {
  box-shadow: var(--shadow);
  margin-bottom: 30px;
}
/* compare end /////////////////////////////////////////////////// */

/* review start //////////////////////////////////////////////////// */
.comment-sec {
  padding: 20px 30px;
}
.filter-tabs {
  margin-bottom: 30px;
}
.filter-tabs div{
  display: inline-block;
  border: 1px solid #DDDDDD;
  color: var(--text-blue);
  padding: .25rem .5rem;
  font-size: .75rem;
  cursor: pointer;
  transition: .5s ease-in-out;
}
.filter-tabs div:hover {
  background: var(--sky-blue);
  border-color: var(--green);
}
.comment-block .comment:last-child {
  margin-bottom: 0;
}
.positive-comment {
  margin-bottom: 2rem;
}
.comment-type {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.comment-type i {
  color: #8DC63F;
  font-size: 20px;
}
.comment-type i.fa-minus-circle {
  color: #CF1915;
  font-size: 20px;
}
.comment-type h6 {
  color: #333333;
  margin-bottom: 0;
  margin-left: .75rem;
  font-size: 15px;
  color: #333;
  letter-spacing: 1.2px;  
}
.comment {
  font-size: 14px;
  margin-bottom: 1.5rem;
}
.comment-detail {
  display: flex;
  align-items: center;
  color: var(--text-blue);

}
.rating-count, .date {
  color: var(--text-blue);
}
.star-icon i{
  color: var(--yellow);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.user-name {
  color: var(--text-blue);
}
.message {
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 6px;
  letter-spacing: .5px;
}
/* review end ////////////////////////////////////////////// */


/* features */
.feature-block {
  padding: 20px 30px;
  font-size: 14px;
}
.features {
  margin-bottom: 30px;
}
.field-block {
  display: flex;
  margin-bottom: 0.75rem;
}
.feature-block .field-block:last-child {
  margin-bottom: 0;
}
.feature-block .field-title {
  flex: 0 0 30%;
  max-width: 30%;
  font-size: 14px;
  letter-spacing: .5px;
}
.feature-block .field-detail {
  flex: 0 0 70%;
  max-width: 70%;
  font-size: 14px;
  color: var(--text-blue);
  font-weight: 500;
  letter-spacing: .5px;
}

.ad{
  background: #fff;
  padding: 25px;
  box-shadow: var(--shadow);  
  margin-bottom: 30px;
}
.ad img {
  width: 100%;
}
.related-product {
  margin-bottom: 30px;
}
.related-product .title {
  padding: 10px 20px;
  border-bottom: 1px solid #EDEFF5;
  font-size: 1rem;
  letter-spacing: .5px;
}
.products {
  padding: 20px;
}
.product  {
  display: flex;
  margin-bottom: 30px;
}
.related-product .product:last-child {
  margin-bottom: 0;
}
.product-img {
  flex: 0 0 15%;
  max-width: 15%;
  height: 100px;
}
.product-img img {
  height: 100px;
  width: auto;
  max-width: 100%;
  object-fit: fill;
}
.product-detail {
  flex: 0 0 85%;
  max-width: 85%;
  padding-left: 20px;
}
.product-detail .name {
  font-size: 1rem;
  letter-spacing: .5px;
  margin-bottom: .25rem;
}
.product-detail .price {
  font-size: 1rem;
  color: #607CFF;
  margin-bottom: .25rem;
}


/* mediaQuery for Mobile & Ipad */
@media (min-width: 320px) and (max-width: 767px){
  /* ///////////////////////////////////////////product detail */
  .detail-section .detail-card{
    display: block;
  }
  .detail-section .detail-card .product-left-block, .detail-section .detail-card .product-right-block{
    width: 100%;
  }
  .detail-section .product-info h2{
    font-size: 1rem;
  }
  .detail-section .price-list span{
    font-size: 1rem;
  }
  .detail-section .buy-now-btn{
    padding: 10px 1rem;
  }
  .detail-section .detail-block .product-rating{
    display: block;
  }
  .product-rating .rating-info{
    margin-left: 0px !important;
  }
  .product-rating p img{
    margin-bottom: 0px !important;
   }
   .detail-section .brand-card .brand-img{
     width: 50%;
   }
   .access-section .access-icon .fa {
     font-size: 1.25rem;
     margin-bottom: 0.5rem;
   }
   .access-section .access-title {
     margin-bottom: 0;
   }
   .detail-section .access-section .access-title span {
     font-size: 0.875rem !important;
   }
   .access-section .access-subtitle span {
     font-size: .75rem;
   }
   .brand-card .brand-subtitle {
    font-size: .5rem;
   }

   /* /////////////////////////////////////// compare */

   .graph-block {
      padding: 2.5rem 1.25rem;
    }
    .compare-graph {
      width: 100%;
      margin-bottom: 2rem;
    }
    .progress-block {
      display: block;
      margin-bottom: 1rem;
    }
    .progress-block .text {    
      text-align: left;
    }
    .progress-count-block {
      width: 100%;
      margin-left: 0;
      margin-bottom: 2.5rem;
      margin-top: 1.875rem;
    }
    .progress-count-block .hr-line {
      margin-left: 0px;
    }
    .progress-category {
      width: 100%;
    }
    .progress-category span {
      margin-left: 0;
    }

    /* /////////////////////////////////////////////review */

    .comment-sec {
      padding: 20px 20px;
    }
    .filter-tabs div {
      margin-right: 10px;
    }
    .filter-tabs {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }

    /* /////////////////////////////////////////// features   */
    .feature-block {
      padding: 20px;
    }
    .feature-block .field-title {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .feature-block .field-detail {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 10px;
    }
    .ad {
      padding: 25px 20px;
    }
}
@media (min-width: 767px) and (max-width: 1024px) {    
    /* /////////////////////////////////////////// compare */
    .graph-block {
      padding: 2.5rem 1.25rem;
    }
    .compare-graph {
      width: 100%;
    }  
    .progress-block .text {
      flex: 0 0 20%;
    }
    .progress-block .progress-div {
      flex: 0 0 75%;
    }
    .progress-count-block {
      width: 75%;    
    }
    .progress-count-block .hr-line {
      margin-left: 0px;
    }
    .progress-category {
      width: 75%;
    }
    .progress-category span {
      margin-left: 0;
    }
    /* ////////////////////////////////////////////review */
    .comment-sec {
      padding: 1.25rem;
    }
    .filter-tabs div {
      margin-right: 10px;
    }
    .filter-tabs {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
    /* //////////////////////////////////features */
    .feature-block {
      padding: 1.25rem;
    }
    .feature-block .field-title {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .feature-block .field-detail {
      flex: 0 0 50%;
      max-width: 50%;
      /* padding-left: 10px; */
    }
    .ad {
      padding: 1.25rem;
    }
    .product-img, .product-img img  {
      height: 70px;
    }
    .product-detail {
      padding-left: 10px;
    }
    .product-detail .name, .product-detail .price, .product-detail .rating {
      font-size: .75rem;
    }

}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
  .nav-menu {
      z-index: 10;
      background: #fff;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translatey(-100%);
      text-align: center;
    }
    .menu-active .nav-menu {
      transform: translatey(0%);
      opacity: 1;
    }
    .nav-menu .menu-item a {
      font-size: 1.25rem;
      margin: .5rem;
    }
    .sub-nav {
      position: relative;
      width: 100%;
      display: none;
      background-color: rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
    }

    /* /////////////////////////////////porduct detail */
    .detail-section .product-bottom-section{
      width: 100%;
    }
    .detail-section .product-bottom-section .access-section{
      width: 25%;
    }
    .detail-section .access-section .access-title span{
      font-size: 1rem;
    }
    .detail-section .product-brand-section{
      justify-content: space-between;
      width: 100%;
    }
    .detail-section .product-brand-section .brand-card{
      width: 32%;
    }
    .tab-container{
      width: 100%;
      overflow: auto;
    }
    .tab-block{
      width: 800px;
    }
    .rating-info .fa-info-circle {
      margin-left: 1rem;
    }
    .tab-link span {
      font-size: .75rem;
    }
}